@font-face {
  font-family: "Founders Grotesk";
  src: url("/fonts/atomikal/FoundersGrotesk-Semibold.woff2") format("woff2"), url("/fonts/atomikal/FoundersGrotesk-Semibold.woff") format("woff"), url("/fonts/atomikal/FoundersGrotesk-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura Std";
  src: url("/fonts/atomikal/FuturaStd-CondensedExtraBd.woff2") format("woff2"), url("/fonts/atomikal/FuturaStd-CondensedExtraBd.woff") format("woff"), url("/fonts/atomikal/FuturaStd-CondensedExtraBd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("/fonts/atomikal/FoundersGrotesk-Medium.woff2") format("woff2"), url("/fonts/atomikal/FoundersGrotesk-Medium.woff") format("woff"), url("/fonts/atomikal/FoundersGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("/fonts/atomikal/FoundersGrotesk-Regular.woff2") format("woff2"), url("/fonts/atomikal/FoundersGrotesk-Regular.woff") format("woff"), url("/fonts/atomikal/FoundersGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura StdJ";
  src: url("/fonts/futura-std/FuturaStd-Condensed.woff2") format("woff2"), url("/fonts/futura-std/FuturaStd-Condensed.woff") format("woff"), url("/fonts/futura-std/FuturaStd-Condensed.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  background: #E6F5FF;
  top: 0 !important;
}

ul, li {
  margin: 0px;
  padding: 0px;
}

ol {
  margin: 0;
  padding: 0;
}

ol {
  list-style: none;
  counter-reset: li;
}

li {
  counter-increment: li;
}

input {
  outline: none;
}

/* Elements General */
.ui-summary {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 400;
  color: #022060;
  width: 426px;
}

.ui-image-question {
  height: 134px;
  width: 328px;
  border-bottom-right-radius: 70px;
  border-top-right-radius: 70px;
  background-repeat: no-repeat;
  background-color: red;
}

.ui-summary-weight-500 {
  font-weight: 500;
}

.ui-label {
  font-family: "Futura Std";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #022060;
}
.ui-label .ui-sub-label {
  font-family: "Futura StdJ";
  font-style: normal;
  font-weight: 500;
  text-transform: none;
}

.ui-button {
  font-family: "Futura Std";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, rgba(174, 218, 255, 0) 5.71%, rgba(174, 218, 255, 0.15) 83.33%), #FFFFFF;
  border: 2px solid rgba(66, 133, 232, 0.8);
  box-shadow: 0px 4px 8px rgba(66, 133, 232, 0.2);
  border-radius: 8px;
  color: #4285E8;
  padding: 9px 91.5px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}

.ui-button:hover {
  background: rgba(66, 133, 232, 0.8);
  color: #FFFFFF;
}

.ui-radio-button-box {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  width: 220px;
  height: 44px;
  display: block;
}
.ui-radio-button-box input[type=radio] {
  display: none;
}
.ui-radio-button-box .radio-text {
  content: "";
  display: flex;
  background: #FFFFFF;
  width: 220px;
  height: 37px;
  border: 2px solid rgba(159, 195, 250, 0.8);
  border-radius: 4px;
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #022060;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5px;
  text-align: center;
}
.ui-radio-button-box .radio-text .radio-text-sub {
  display: inline-block;
  width: 134px;
}
.ui-radio-button-box .radio-text-font-medium {
  font-size: 15px;
  line-height: 95%;
}
.ui-radio-button-box input[type=radio]:hover + .radio-text {
  content: "";
  background: #4285E8;
  color: #FFFFFF;
  transition: all 0.3s;
}
.ui-radio-button-box input[type=radio]:checked + .radio-text {
  content: "";
  background: #4285E8;
  color: #FFFFFF;
  transition: all 0.3s;
}

/* IMC */
.ui-tool-label {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.ui-tool-label-result {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
}

.ui-tool-result-box {
  background: rgba(66, 133, 232, 0.4);
  border-radius: 32px;
  display: block;
  width: 7.4%;
  padding: 3px 5px;
  text-align: center;
  padding-top: 13px;
}
.ui-tool-result-box .ui-tool-result {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.ui-simbolo-mc {
  vertical-align: super;
  font-size: 8.5px;
}

.ui-input-number-box {
  background: #FFFFFF;
}
.ui-input-number-box input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.ui-input-number-box input[type=number]::-webkit-inner-spin-button,
.ui-input-number-box input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.ui-input-number-box .ui-input-number {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  color: #4285E8;
  border: none;
  border: none;
  outline: none;
  background: transparent;
  width: 82px;
  height: 24px;
  padding-top: 4px;
}
.ui-input-number-box .ui-btn-ctrl {
  border: none;
  border: none;
  outline: none;
  background: transparent;
  padding: 0px;
  cursor: pointer;
}
.ui-input-number-box .ui-btn-ctrl .icon-arrow-left::before,
.ui-input-number-box .ui-btn-ctrl .icon-arrow-right::before {
  font-size: 16px;
  color: #4285E8;
}
.ui-input-number-box .ui-input-number-line {
  height: 3px;
  background: rgba(159, 195, 250, 0.8);
  display: inline-block;
  width: 113px;
  border-radius: 32px;
}

.ui-input-number-box {
  border: 0;
  display: inline-block;
}

.ui-input-number-box,
.ui-input-number-box * {
  box-sizing: border-box;
}

.box-calculate-imc {
  display: block;
  width: 100%;
}
.box-calculate-imc .box-a {
  display: inline-block;
  width: 6%;
  text-align: center;
  vertical-align: top;
  padding-top: 60px;
}
.box-calculate-imc .box-c {
  display: inline-block;
  width: 122px;
  text-align: center;
  vertical-align: top;
}
.box-calculate-imc .box-c .ui-imc-image {
  height: 50px;
  width: 50px;
}
.box-calculate-imc .box-c img {
  width: 50px;
  height: 50px;
}
.box-calculate-imc .box-c .ui-tool-label {
  height: 23px;
  padding-top: 8px;
}
.box-calculate-imc .box-c .ui-input-number-box {
  padding-top: 20px;
}
.box-calculate-imc .box-c .ui-tool-result-box {
  width: 112px;
}
.box-calculate-imc .box-c .ui-tool-label-result {
  height: 23px;
  padding-top: 8px;
}
.box-calculate-imc .box-c .ui-tool-result-box {
  margin-top: 5px;
}

.ui-bullets {
  color: #656565;
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
.ui-bullets li {
  padding-bottom: 8px;
}

.ui-bullets > li::before {
  content: counter(li);
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #4285E8;
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
  margin-right: 8px;
}

.ui-bullets > li > span {
  display: inline-flex;
}

.box-instructions {
  width: 875px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Preguntas */
.ui-form-questions {
  margin: 0 auto;
}

/* Preguntas */
.ui-box-question {
  border-radius: 16px;
  background-color: #FFFFFF;
  width: 832px;
  height: auto;
  display: block;
  padding: 28px 28px;
  padding-top: 40px;
  margin: 0 auto;
  margin-bottom: 8px;
}
.ui-box-question .ui-box-question-image {
  width: auto;
  display: inline-block;
  vertical-align: top;
  padding-right: 34px;
}
.ui-box-question .ui-box-question-detail {
  width: 56%;
  display: inline-block;
  vertical-align: top;
}
.ui-box-question .ui-radio-options .ui-radio-button-box {
  display: inline-block;
  padding-bottom: 20px;
  vertical-align: top;
}
.ui-box-question .ui-radio-options .ui-radio-button-box:nth-child(even) {
  padding-right: 0px;
}
.ui-box-question .ui-radio-options .ui-radio-button-box:nth-child(odd) {
  padding-right: 21px;
}
.ui-box-question .ui-radio-label {
  padding-bottom: 0px;
}
.ui-box-question .ui-radio-label .ui-label {
  padding-bottom: 10px;
}
.ui-box-question .ui-radio-label .ui-sub-label {
  padding-left: 5px;
}
.ui-box-question .ui-radio-label .ui-summary {
  padding-bottom: 20px;
}

.ui-box-result {
  border-radius: 16px;
  background-color: #FFFFFF;
  width: 832px;
  height: auto;
  display: block;
  padding: 28px 28px;
  padding-top: 40px;
  margin: 0 auto;
  margin-bottom: 8px;
  margin-top: 15px;
  margin-left: 11px;
  box-shadow: 0px 4px 8px rgba(66, 133, 232, 0.08);
  text-align: center;
}

.ui-form-questions-scroll {
  overflow-y: scroll;
  height: 1000px;
  display: block;
  width: 102%;
}

.ui-form-questions-scroll::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
  height: 15px;
}

.ui-form-questions-scroll::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 9px;
  box-shadow: 0px 4px 8px rgba(66, 133, 232, 0.08);
  height: 15px;
}

.ui-form-questions-scroll::-webkit-scrollbar-thumb {
  background-color: #4285E8;
  border-radius: 9px;
  height: 15px;
  min-height: 14px;
}

.footer {
  width: 888px;
  border-top: 1px solid #4285E8;
  margin: 0 auto;
  padding-top: 0x;
  padding-bottom: 20px;
}
.footer .logos {
  display: inline-block;
  width: auto;
}
.footer .logos img {
  padding-right: 28px;
}
.footer .copyright {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  vertical-align: text-top;
  width: 55%;
  text-align: right;
}

.body-container {
  width: 911px;
  margin: 0 auto;
  z-index: 9999;
  position: relative;
}

.body {
  position: absolute;
  z-index: 99;
  top: -30px;
}

.box-shared-rs {
  background: #FFFFFF;
  position: absolute;
  width: 57px;
  height: 151px;
  padding: 8px;
  top: 332px;
  right: 0px;
  z-index: 9;
  border-radius: 0px 0px 48px 48px;
}
.box-shared-rs .label-rs {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #022060;
  padding-bottom: 9px;
}
.box-shared-rs .button-rs {
  display: block;
}
.box-shared-rs .button-rs a {
  display: block;
  text-align: center;
  padding-bottom: 12px;
  cursor: pointer;
  text-decoration: none;
}
.box-shared-rs .button-rs a:last-child {
  padding-bottom: 0px;
}
.box-shared-rs .button-rs .icon-rs {
  font-size: 23.72px;
}

.box-shared-rs-footer {
  display: none;
  background: #FFFFFF;
  height: 28px;
  padding: 8px;
  right: 0px;
  z-index: 9;
  border-radius: 0px 0px 16px 16px;
  width: 284px;
  margin: 0 auto;
  margin-bottom: 31px;
}
.box-shared-rs-footer .label-rs {
  width: 50%;
  display: inline-block;
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #022060;
}
.box-shared-rs-footer .button-rs {
  display: inline-block;
  vertical-align: sub;
}
.box-shared-rs-footer .button-rs a {
  display: inline-block;
  text-align: center;
  padding-bottom: 12px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 16px;
}
.box-shared-rs-footer .button-rs a:last-child {
  padding-bottom: 0px;
}
.box-shared-rs-footer .button-rs .icon-rs {
  font-size: 23.72px;
}

/* Resultado */
.ui-box-result-main {
  border-radius: 16px;
  background-color: #FFFFFF;
  width: 832px;
  height: auto;
  display: block;
  padding: 0px 40px;
  padding-top: 24px;
  padding-bottom: 25px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.ui-box-result-register {
  width: 470px;
  margin: initial;
  margin-left: auto;
  margin-bottom: 8px;
  padding-right: 34px;
  padding-left: 34px;
}

.ui-result-imc {
  width: 328px;
  height: 300px;
  border-radius: 0px 0px 184px 184px;
  background-repeat: no-repeat;
  background-color: #5B94E7;
}

.ui-imc-score-label {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #022060;
}

.ui-imc-score {
  width: 99px;
  height: 40px;
  background: #46C03B;
  border-radius: 32px;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui-imc-score span {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 35px;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  /* display: inline-flex; */
  align-items: center;
  justify-content: space-evenly;
  padding-top: 9px;
}

.ui-imc-result-text {
  font-family: "Futura Std";
  font-style: normal;
  font-weight: 750;
  font-size: 32px;
  color: #022060;
}
.ui-imc-result-text span {
  text-transform: uppercase;
}

.ui-imc-recomendations p {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #022060;
  line-height: 21px;
}
.ui-imc-recomendations p b {
  font-weight: 500;
}

.ui-box-result-left {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding-right: 34px;
  background-color: transparent;
}

.ui-box-result-right {
  height: auto;
  background-color: transparent;
  width: 56%;
  display: inline-block;
  vertical-align: top;
}
.ui-box-result-right .ui-imc-score-box {
  padding-bottom: 16px;
}
.ui-box-result-right .ui-imc-score-box .ui-imc-score-label {
  display: inline-block;
}
.ui-box-result-right .ui-imc-score-box .ui-imc-score {
  display: inline-flex;
  margin-left: 8px;
}
.ui-box-result-right .ui-imc-recomendations {
  width: 86%;
}

.score-1-result {
  width: 76%;
}

.score-2-result {
  width: 80%;
}

.score-3-result {
  width: 85%;
}

.score-4-result {
  width: 80%;
}

.score-5-result {
  width: 85%;
}

.ui-title-register {
  font-family: "Futura Std";
  font-style: normal;
  font-weight: 750;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #022060;
}

.ui-form-label {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #022060;
}

.ui-form-input {
  width: 208px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #9FC3FA;
  border-radius: 4px;
  padding-left: 12px;
}

.ui-form-input-group {
  display: inline-block;
}
.ui-form-input-group .ui-form-label {
  display: block;
}
.ui-form-input-group .ui-form-input {
  display: block;
}

.ui-form-chk-group > label {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #656565;
}

.ui-form-p span {
  display: inline-block;
  width: 16px;
  vertical-align: top;
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #4285E8;
}
.ui-form-p p {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #656565;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 94%;
  vertical-align: top;
  margin-left: 5px;
}

.ui-form-input-chk {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.ui-form-input-chk-label {
  position: relative;
  cursor: pointer;
}
.ui-form-input-chk-label span {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

.ui-form-input-chk + .ui-form-input-chk-label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #4285E8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7.5px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px;
}

.ui-form-input-chk:checked + .ui-form-input-chk-label:after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 7px;
  width: 2px;
  height: 8px;
  border: solid #4285E8;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.ui-form-chk-group {
  margin-bottom: 8px;
}

.ui-form-chk-group:last-child {
  margin-bottom: 0px;
}

.ui-form-button {
  background: linear-gradient(180deg, rgba(174, 218, 255, 0) 5.71%, rgba(174, 218, 255, 0.15) 83.33%), #FFFFFF;
  border: 2px solid rgba(66, 133, 232, 0.8);
  box-shadow: 0px 4px 8px rgba(66, 133, 232, 0.2);
  border-radius: 8px;
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #4285E8;
  padding: 8px 46.5px;
  cursor: pointer;
}
.ui-form-button span {
  align-items: center;
  padding-top: 3px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.ui-form-button:hover {
  background: rgba(66, 133, 232, 0.8);
  color: #FFFFFF;
  transition: all 0.3s;
  border: 2px solid rgba(66, 133, 232, 0.8);
}

.ui-form-register .ui-title-register {
  padding-bottom: 20px;
}
.ui-form-register .ui-form-label {
  padding-bottom: 4px;
}
.ui-form-register .ui-form-input-box {
  padding-bottom: 12px;
}
.ui-form-register .ui-form-input-box .ui-form-input-group {
  margin-right: 16px;
}
.ui-form-register .ui-form-input-box .ui-form-input-group:nth-child(2) {
  margin-right: 0px;
}
.ui-form-register .ui-form-chk-box {
  padding-bottom: 16px;
}
.ui-form-register .ui-form-chk-box .ui-form-p {
  padding-top: 4px;
}

.ui-button-return {
  background: #FFFFFF;
  border: 1px solid rgba(66, 133, 232, 0.8);
  border-radius: 4px;
  text-decoration: none;
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #022060;
  padding: 14px;
  display: flex;
  width: 50.4%;
  align-items: center;
  cursor: pointer;
  padding: 6.5px 5px;
  position: relative;
}
.ui-button-return i {
  color: #4285E8;
  font-size: 14px;
  vertical-align: middle;
  margin-right: 40px;
  position: absolute;
  left: 12px;
}
.ui-button-return span {
  align-items: center;
  padding-top: 6px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.ui-button-return:hover {
  background: #4285E8;
  opacity: 0.8;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: #FFFFFF;
}
.ui-button-return:hover i {
  color: #FFFFFF;
}

/* Riesgos */
/* RIESGO BAJO */
.score-1-text {
  color: #46C03B;
}

.score-1 {
  background: #46C03B;
}

/* LIGERAMENTE ELEVADO */
.score-2-text {
  color: #72CF5B;
}

.score-2 {
  background: #72CF5B;
}

/* riesgo moderadamente elevado */
.score-3-text {
  color: #F1B61E;
}

.score-3 {
  background: #F1B61E;
}

/* riesgo muy alto */
.score-4-text {
  color: #F15050;
}

.score-4 {
  background: #F15050;
}

.score-5-text {
  color: #DF2D38;
}

.score-5 {
  background: #DF2D38;
}

.ui-slider-title {
  font-family: "Futura Std";
  font-style: normal;
  font-weight: 750;
  font-size: 44px;
  line-height: 52px;
  /* or 48px */
  text-transform: uppercase;
  color: #FFFFFF;
}

.ui-slider-summary {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 25px */
  color: #FFFFFF;
}
.ui-slider-summary p {
  padding: 0;
  margin: 0;
}
.ui-slider-summary span {
  vertical-align: text-bottom;
  font-size: 10px;
  display: inline-block;
}

.ui-slider-box {
  position: relative;
  width: 100%;
  height: 399px;
  background-color: #5B94E7;
  border-radius: 0px 0px 0px 24px;
}
.ui-slider-box .ui-slider-item {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: end;
  justify-content: center;
}
.ui-slider-box .ui-slider-image {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto;
  width: 562px;
  height: 383px;
  margin-top: 32px;
}
.ui-slider-box .ui-slider-title, .ui-slider-box .ui-slider-summary {
  width: 412px;
  padding-bottom: 10px;
}
.ui-slider-box .ui-slider-txt {
  position: relative;
  width: 23%;
  display: flex;
  height: 160px;
}
.ui-slider-box .ui-slider-txt .ui-slider-position {
  position: absolute;
  width: auto;
  z-index: 9;
  top: -15px;
  left: -81px;
}
.ui-slider-box .ui-slider-item {
  position: relative;
}

.ui-logo-box {
  width: 100%;
  position: relative;
  z-index: 999;
}

.logo-box {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 255px;
  /* padding-right: 18px; */
  z-index: 9;
  top: 15px;
}
.logo-box img {
  vertical-align: middle;
  display: inline-block;
}
.logo-box .logo-txt {
  margin-right: 6.5px !important;
}

.rs-box {
  font-size: 24px;
  color: #FFFFFF;
  position: absolute;
  right: 258px;
  top: 32px;
}
.rs-box .rs-box-link {
  display: inline-block;
  margin-right: 10px;
}
.rs-box .rs-box-link:last-child {
  margin-right: 0px;
}

/* Media Queries */
.check {
  display: none;
}

.ui-slider-summary-mobile {
  display: none;
}

.ui-slider-item-gradient {
  display: none;
}

.icon-mobile {
  display: none;
}

@media (max-width: 600px) {
  .icon-mobile {
    display: block;
  }
  .ui-slider-item-gradient {
    display: block;
  }
  .ui-slider-summary-desktop {
    display: none;
  }
  .ui-slider-summary-mobile {
    display: block;
  }
  .box-shared-rs-footer {
    display: block;
  }
  .body-container {
    width: 365px;
  }
  .box-shared-rs {
    display: none;
  }
  .ui-form-questions-scroll {
    width: 359px;
    overflow: unset;
    height: auto;
  }
  .ui-box-result {
    width: 319px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .ui-box-result .ui-button {
    padding: 9px 68px;
    position: relative;
  }
  .ui-box-result .ui-button img {
    position: absolute;
    right: 20px;
    top: 14px;
  }
  .ui-box-question {
    width: 303px;
    padding-top: 12px;
  }
  .ui-box-question .ui-box-question-detail {
    width: 100%;
    display: block;
  }
  .ui-box-question .ui-radio-button-box {
    padding-right: 0px;
    width: 304px;
  }
  .ui-box-question .radio-text {
    width: 300px;
  }
  .ui-box-question .ui-radio-options .ui-radio-button-box:nth-child(odd) {
    padding-right: 0px;
  }
  .ui-box-question .ui-radio-options .ui-radio-button-box {
    padding-bottom: 16px;
  }
  .ui-box-question input[type=radio]:hover + .radio-text {
    box-shadow: 0px 4px 8px rgba(66, 133, 232, 0.4);
  }
  .ui-box-question input[type=radio]:checked + .radio-text {
    box-shadow: 0px 4px 8px rgba(66, 133, 232, 0.4);
  }
  .ui-box-question .ui-image-question {
    display: none;
  }
  .ui-box-question .ui-summary {
    display: block;
    width: 303px;
  }
  .ui-box-question .ui-radio-button-box {
    display: block !important;
  }
  .ui-box-question input[type=radio]:checked + .radio-text {
    position: relative;
  }
  .ui-box-question input[type=radio]:checked + .radio-text .check {
    display: block;
    position: absolute;
    left: 11px;
    top: 14px;
  }
  .ui-box-question .ui-radio-options .ui-radio-button-box {
    margin-bottom: 20px;
    padding-bottom: 0px;
  }
  .ui-box-question .radio-text {
    border: 2px solid rgba(66, 133, 232, 0.4);
  }
  .box-instructions {
    display: block;
    width: 359px;
    display: block;
    padding-bottom: 40px;
  }
  .ui-bullets > li > span {
    width: 90%;
  }
  .footer {
    display: block;
    width: 359px;
    margin: 0 auto;
  }
  .footer .logos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer .logos .logo-icon {
    padding-right: 30px;
  }
  .footer .logos .logo-icon:last-child {
    padding-right: 0px;
  }
  .footer .copyright {
    width: 100%;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 8px;
  }
  .ui-form-input-box {
    padding-bottom: 12px;
  }
  .ui-form-input-box .ui-form-input-group:nth-child(2) {
    margin-top: 16px;
  }
  /* Resultado */
  .ui-box-result-main {
    width: 315px;
    padding: 24px 24px;
  }
  .ui-box-result-main .ui-box-result-left {
    width: 100%;
    display: block;
  }
  .ui-box-result-main .ui-box-result-right {
    display: block;
    width: 100%;
  }
  .ui-box-result-main .ui-form-input-group {
    margin-right: 0px !important;
  }
  .ui-box-result-main .ui-form-input {
    width: 297px;
  }
  .body-container-result {
    width: 359px;
  }
  .ui-result-imc {
    display: none;
  }
  .ui-form-input-chk-label span {
    display: inline-block;
    width: 92%;
    vertical-align: text-top;
  }
  .ui-form-p p {
    width: 91%;
  }
  .ui-form-button {
    position: relative;
  }
  .ui-form-button {
    display: block;
    width: 316px;
  }
  .icon-return {
    position: absolute;
    right: 20px;
    top: 15px;
  }
  .ui-form-button:hover {
    background: linear-gradient(180deg, rgba(174, 218, 255, 0.15) 0%, rgba(174, 218, 255, 0) 83.33%), #4285E8;
    box-shadow: 0px 4px 8px rgba(66, 133, 232, 0.4);
  }
  .ui-button-return {
    width: 304px;
  }
  .ui-button-return span {
    width: 100%;
  }
  .body {
    top: -132px;
  }
  .ui-slider-box {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #5B94E7;
    border-radius: 0px 0px 24px 24px;
  }
  .ui-slider-box .ui-slider-title, .ui-slider-box .ui-slider-summary {
    width: 304px;
  }
  .ui-slider-box .ui-slider-image {
    margin-top: 0px;
  }
  .ui-slider-box .ui-slider-item {
    display: block;
  }
  .ui-slider-box .ui-slider-item .ui-slider-image {
    background-image: url("/images/sliders/slider-mobile.jpg") !important;
    width: 100%;
    background-size: contain;
  }
  .ui-slider-box .ui-slider-item .ui-slider-txt {
    margin: 0 auto;
    display: block;
    width: 304px;
    height: auto;
    height: 408px;
  }
  .ui-slider-box .ui-slider-item .ui-slider-txt .ui-slider-position {
    width: 304px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .logo-box {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 44px;
    z-index: 9;
    top: 20px;
  }
  .logo-box .logo-txt {
    width: 52.34px;
  }
  .logo-box .logo-txt-image {
    width: 279px;
  }
  .rs-box {
    display: none;
  }
  .ui-button-return i {
    margin-right: 20px;
    margin-left: 12px;
  }
  .box-calculate-imc .box-c {
    display: inline-flex;
  }
  .box-calculate-imc .box-c .ui-tool-label {
    height: 23px;
    padding-top: 8px;
    display: inline-block;
    width: 40%;
    vertical-align: top;
    text-align: left;
    padding-left: 15px;
  }
  .box-calculate-imc .box-c .ui-input-number-box {
    width: 144px;
  }
  .box-calculate-imc .box-c .ui-tool-label-result {
    height: 23px;
    padding-top: 8px;
    width: 40%;
    text-align: left;
    padding-left: 15px;
  }
  .box-calculate-imc .box-a {
    display: inline-block;
    width: 100%;
    text-align: right;
    vertical-align: top;
  }
  .box-calculate-imc .box-c {
    width: 100%;
  }
  .box-calculate-imc .box-a {
    padding-top: 0px;
  }
  .box-calculate-imc .box-c .ui-input-number-box {
    padding-top: 14px;
  }
  .box-a > img {
    margin-right: 60px;
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .ui-input-number-box .ui-input-number-line {
    margin: 0 auto;
    display: block;
    margin-top: 2px;
  }
  .ui-input-number-box .ui-input-number {
    width: 72px;
    height: 25px;
    padding-top: 2px;
  }
  .ui-tool-result-box {
    margin-right: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
